.container {
  width: 100%;
  /* height: 50%; */
  /* background-color: #ff5599; */
  /* position: relative; */
}

.item_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;

  overflow: auto;
  -ms-overflow-style: none;
  position: relative;
}

.item_container::-webkit-scrollbar {
  display: none;
}

.scroll_container{
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrowbutton {
  display: flex;
  justify-content: center;    
  align-items: center; 
  position: absolute;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0);
}

.arrowbutton:hover {
  cursor: pointer;
}

.arrowbutton svg {
  fill: #999999;
}
.arrowbutton:hover svg {
  fill: #f5f5f5;
}

.left_button {
  left: 5%;
  top: 120px;
}

.right_button {
  left: 90%;
  top: 120px;
}

