.container {
  width: 100%;
  height: 50%;
  background-color: #ff5399;
}

.itemContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;

  overflow:auto;
  -ms-overflow-style:none;
  position: relative;
}
/* .itemContainer::-webkit-scrollbar {
  display: none;
} */

button {
  position: absolute;
	top: 50px;
  /* z-index: 999; */
}